@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('http://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Montserrat' sans-serif;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  
}

.container h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 40px;
}

.container h1 span {
  color: red;
}

.login {
  border:  1px solid black;
  padding: 50px;
  margin-top: 30px;
}

input[type=text] {
  padding: 10px;
  outline: none;
}

input[type=button] {
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

input[type=text]:focus::placeholder {
  color: transparent;
}